<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Web Dive: {{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sunburst.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="content">
      <h1 class="title">{{className}}</h1>
      <ol class="breadcrumb">
        {{#breadcrumbs}}
        <li><a href="{{url}}" class="{{isActive}}">{{name}}</a></li>
        {{/breadcrumbs}}
      </ol>
      <div class="section">
        <h1 class="section-title">{{lessonName}}</h1>
        {{{body}}}
        <h2>All Done?</h2>
        {{#if nextLink}}
          <a href="{{nextLink}}" class="btn btn-primary">Continue</a>
        {{else}}
          <p>Well, that&apos;s all folks</p>
        {{/if}}
      </div>
    </div>

<div id="tryit-template" style="display: none">
  <div class="tryit-code">
    <ul class="nav nav-tabs">
      <li>
        <a class="html-link" data-toggle="tab">HTML</a>
      </li>
      <li><a class="css-link" data-toggle="tab">CSS</a></li>
      <li><a class="js-link" data-toggle="tab">Javascript</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane html-tab">
        <pre>
        </pre>
      </div>
      <div class="tab-pane css-tab">
        <pre>
        </pre>
      </div>
      <div class="tab-pane js-tab">
        <pre>
        </pre>
      </div>
    </div>
  </div>
  <div class="tryit-preview">
    <button type="button" class="btn btn-primary">Preview</button>
    <div class="tryit-auto-wrapper">
      <label class="checkbox-inline">
        <input type="checkbox" class="auto-preview" /> Auto-update preview
      </label>
    </div>
    <div class="tryit-iframe">
      <iframe>
      </iframe>
    </div>
  </div>
  <div class="tryit-tests" style="display: none">
    <ul>
    </ul>
    <div class="done-message">All done - congrats!</div>
  </div>

</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/ace/ace.js"></script>
<script src="/javascripts/prettify/prettify.js"></script>
<script src="/javascripts/prettify/lang-css.js"></script>
<script src="/javascripts/app.js"></script>
</html>
